{% extends 'base.html' %}
{% load markdown %}
{% block title %} Labs :: GDFS {% endblock %}
{% block content %}{% markdown %}

<div class="notification">
    This article is a draft.
</div>

GDFS (Google Docs File System)
================================

[Google Docs][GoogleDocs] is a very useful tool to organize your documents, and to share them with other people.
However, it's not necessarily the best way to browse through your files especially when it comes to multimedia files like pictures, music, and videos.
We thought it would be nice if I could use a native Mac OS X interface instead of the web interface to work with Google Docs.
Imagine you could *mount* your Google Docs account on your system just like you'd mount a typical USB thumdrive or a CD/DVD. Wouldn't it be nice?

<img src="/static/gdfs/gdfs.png" width="900" height="460"/>

Features
---------

* Browse through your Google Docs files in Finder
* Seamless synchronization
* Offline mode
* Unlimited storage quota for documents in a Google Docs format
* 1GB limit for everything else
* Upgrade your storage for $0.25 per GB per year[^1].

Pricing
--------

The only thing we can promise at this point is that the app will be
less expensive than your lunch. <!--There is a slight chance that the app
could be free if we could come up with a different profit model.-->

Release Date
-------------

Release date will be announced in the near future as GDFS is currently
under a heavy development.

Any Question? Suggestions?
---------------------------

Please let us know at suminb@gmail.com if you have any question,
suggestion, request for a feature, or anything that could help us to
make a better app. We'll be looking forward to hearing from you.

[GoogleDocs]: http://docs.google.com
[^1]: <http://googledocs.blogspot.com/2010/01/upload-and-store-your-files-in-cloud.html>

{% endmarkdown %}{% endblock %}