{% extends 'base.html' %}
{% block title %} Labs :: Chemtalk {% endblock %}
{% block javascript %}
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/jquery.printf.js"></script>
	<script type="text/javascript">
	function lookup() {
	    var console = $('#console');

	    $.post('/chemtalk/lookup', {'query': $('#query').val()}, function(json) {
	    	console.removeClass('hidden');
	        if(json.status == 'ok') {
	        	console.text(json.payload);
	        }
	        else {
	        	console.text(json.message);
	        }
	    }, "json");

	    return false;
	}

	var map = {
		'1,1':1, '18,1':2, '1,2':3, '2,2':4, '13,2':5, '14,2':6, '15,2':7, '16,2':8,
		'17,2':9, '18,2':10, '1,3':11, '2,3':12, '13,3':13, '14,3':14, '15,3':15,
		'16,3':16, '17,3':17, '18,3':18, '1,4':19, '2,4':20, '3,4':21, '4,4':22,
		'5,4':23, '6,4':24, '7,4':25, '8,4':26, '9,4':27, '10,4':28, '11,4':29,
		'12,4':30, '13,4':31, '14,4':32, '15,4':33, '16,4':34, '17,4':35, '18,4':36,
		'1,5':37, '2,5':38, '3,5':39, '4,5':40, '5,5':41, '6,5':42, '7,5':43, '8,5':44,
		'9,5':45, '10,5':46, '11,5':47, '12,5':48, '13,5':49, '14,5':50, '15,5':51,
		'16,5':52, '17,5':53, '18,5':54, '1,6':55, '2,6':56, '3,6':57, '4,6':72,
		'5,6':73, '6,6':74, '7,6':75, '8,6':76, '9,6':77, '10,6':78, '11,6':79,
		'12,6':80, '13,6':81, '14,6':82, '15,6':83, '16,6':84, '17,6':85, '18,6':86,
		'1,7':87, '2,7':88, '3,7':89, '4,7':104, '5,7':105, '6,7':106, '7,7':107,
		'8,7':108, '9,7':109, '10,7':110, '11,7':111, '12,7':112, '13,7':113,
		'14,7':114, '15,7':115, '16,7':116, '17,7':117, '18,7':118,

		'5,8':58, '6,8':59, '7,8':60, '8,8':61, '9,8':62, '10,8':63, '11,8':64,
		'12,8':65, '13,8':66, '14,8':67, '15,8':68, '16,8':69, '17,8':70, '18,8':71,
		'5,9':90, '6,9':91, '7,9':92, '8,9':93, '9,9':94, '10,9':95, '11,9':96, 
		'12,9':97, '13,9':98, '14,9':99, '15,9':100, '16,9':101, '17,9':102, '18,9':103,
	};

	function getPeriodicTableCoordination(x, y) {
		if(y <= 408) {
			return {'x':parseInt(x/42.67) + 1, 'y':parseInt(y/58.28) + 1};
		}
		else if(y >= 445 && y <= 563) {
			return {'x':parseInt(x/42.67) + 1, 'y':parseInt((y-445)/58.28) + 8};
		}
		else {
			return {'x':0, 'y':0};
		}
	}

	function getElementName(cx, cy) {
		key = $.sprintf('%d,%d', c.x, c.y);
		return key in map ? map[key] : null;
	}

	function periodicTableOnclick(event, table) {
		var x = event.offsetX - 24;
		var y = event.offsetY - 62;

		c = getPeriodicTableCoordination(x, y);
		if(c.x != 0 && c.y != 0) {
			e = getElementName(c.x, c.y);
	
			var query = $('#query');
			if(e != null) {
				query.val(query.val() + e + ',');
				query.focus();
			}
		}
	}
	</script>
{% endblock %}

{% block content %}
    <div class="notification">
        We are experiencing some malfunctions with reverse lookups (English to Chemtalk). We suspect this is due to the Python version difference between our development environment (2.6) and the one that Google App Engine is currently running (2.5).
    </div>
    
    <h1>Chemtalk</h1>
    
    <p>
        Chemtalk is a language that represents English alphabets using the atomic number of each element on the periodic table. It was inspired by the idea that all alphabets except 'j' can be found from the symbols of the elements. The initial scheme of Chemtalk was proposed by <a href="http://www.facebook.com/ibbycho">Eunbit Cho</a>, a Chemistry undergraduate student at the University of Arizona, in February 2010. Then, <a href="http://blog.sumin.us">Sumin Byeon</a>, a Computer Science undergraduate student at the University of Arizona at that time, proposed more complete specifications of Chemtalk, and implemented a <em>compiler</em> for it.
    </p>

	<a href="#" onclick="$('#periodic-table').slideToggle()">Toggle periodic table</a>
	<div id="periodic-table" class="align-center hidden">
		<img src="/static/chemtalk/periodic_table.jpg" alt="Periodic table"
			onclick="periodicTableOnclick(event, this)"
			onmouseover="$(this).css('cursor', 'pointer');"/>
	</div>

	<form method="post" action="/chemtalk/lookup" onsubmit="return lookup()">
		<textarea id="query" name="query" style="width:100%;height:200px;"></textarea>
		<div class="align-right">
			<input type="submit" value="Convert"/>
		</div>
	</form>
	
	<pre id="console" class="code hidden"></pre>
	
	<div>
		{{ example }}
	</div>
{% endblock %}
