{% extends 'layout.html' %}
{% macro module(title, module_name, tags, description, link=None) -%}
  <div class="module">
    {% if link -%}
    <a class="external-link" href="{{ link }}">
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    </a>
    {%- endif %}
    <h2>
      <a href="{{ module_name }}">{{ title }}</a>
    </h2>
    <div class="tags">
      {% for tag in tags -%}
      <span class="tag">{{ tag }}</span>
      {%- endfor %}
    </div>
    <div class="description">{{ description }}</div>
  </div>
{%- endmacro %}
{% block content %}

<!--
Tags:
- computer science
- prrogramming
- geolocation
- natural language
- gray area
-->

  <h1>{{ title }}</h1>
  <div class="current-researches">
    {{ description }}
  </div>

  {% for doc in documents %}
  {{ module(doc.title, 's/' + doc.page_name, doc.tags,
            doc.description|truncate(200)|safe) }}
  {% endfor %}

  <!-- NOTE: We need a section or a different page for discontinued projects -->

{% endblock %}
