{% extends 'base.html' %}
{% block title %} Labs {% endblock %}

{% block content %}
	<ul class="icongrid">
		<li class="enabled">
		    <a href="/chemtalk">
		        <img src="/static/images/bubbling_potion_128.png" alt=""/>
		        <p>Chemtalk</p>
		    </a>
		</li>
		<li class="enabled">
		    <a href="/hanja">
		        <img src="/static/images/chinese_beauty_128.png" alt=""/>
		        <p>한자-한글 변환기</p>
		    </a>
		</li>
		<!--<li>Cognitive Research</li>-->
		
		<li class="enabled">
		    <a href="http://code.google.com/p/readown">
		        <img src="/static/images/readown_128.png" alt=""/>
		        <p>Readown</p>
		    </a>
		</li>
		<li class="enabled">
		    <a href="http://cqube.lunant.org">
		        <img src="/static/images/cqube_128.png" alt=""/>
		        <p>CQube</p>
		    </a>
		</li>
		
		<li>
		    <img src="/static/images/question_mark_128.png" alt=""/>
		    <p>Nearest Neighbor Search</p>
		</li>
		<li>
		    <img src="/static/images/comment_bubbles_128.png" alt=""/>
		    <p>HTTP Based Bidirectional Communication</p>
		</li>
		<li class="enabled">
		    <a href="/rainbowtable">
		        <img src="/static/images/question_mark_128.png" alt=""/>
		        <p>Rainbow Table</p>
		    </a>
		</li>
		<li class="enabled">
		    <a href="/maps">
		        <img src="/static/images/globe_128.png" alt=""/>
		        <p>Maps</p>
		    </a>
		</li>
        <li class="enabled">
            <a href="/restfuldb">
                <img src="/static/images/restfuldb_128.png" alt=""/>
                <p>RESTful Database</p>
            </a>
        </li>
        <!--
        <li class="enabled">
            <a href="/hython">
                <img src="/static/images/hython_128.png" alt=""/>
                <p>Hython</p>
            </a>
        </li>
        -->
        <li class="enabled">
            <a href="http://radioactivity.suminb.com">
                <img src="/static/images/question_mark_128.png" alt=""/>
                <p>Real-time Radioactivity Monitor</p>
            </a>
        </li>
        <li class="enabled">
            <a href="/markdown">
                <img src="/static/images/markdown_128.png" alt=""/>
                <p>Markdown</p>
            </a>
        </li>
        <li class="enabled">
            <a href="/cmabridge">
                <img src="/static/images/question_mark_128.png" alt=""/>
                <p>Cmabridge</p>
            </a>
        </li>
        
        <li class="enabled">
            <a href="/drivers">
                <img src="/static/images/drivers_128.png" alt=""/>
                <p>Slow Drivers</p>
            </a>
        </li>
	</ul>
{% endblock %}
