{% extends 'base.html' %}
{% block title %} Labs ::  {% endblock %}

{% block content %}

<h1>Vehicles</h1>

<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
        <tr>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.make}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.trim}}</td>
            <td>{{vehicle.tags|join:', '}}</td>
            <td><a href="/vct/vehicle/edit/{{vehicle.key}}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="/vct/vehicle/add">Add a Vehicle</a>
    
{% endblock %}