{% extends 'base.html' %}
{% block title %} Labs :: Slow Drivers {% endblock %}
{% block metatags %}
    <meta property="og:title" content="Labs :: Slow Drivers"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://labs.suminb.com/drivers"/>
    <meta property="og:image" content="http://labs.suminb.com/static/images/question_mark_128.png"/>
    <meta property="og:site_name" content="labs.suminb.com"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="og:description" content="We try very hard to avoid slow drivers."/>
{% endblock %}
{% block stylesheet %}
    <style type="text/css">
    .chart {
        display: none;
        width: 100%;
    }
    .visible {
        display: block;
        width: 100%;
    }
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.printf.js"></script>
    <script type="text/javascript" src="/static/jquery.base64.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/drivers/data.js"></script>
    <script type="text/javascript" src="/static/drivers/charts.js"></script>
    <script type="text/javascript">
    window.onload = function() {
        showChart('chart-slow-by-vehicle-year');
    };
    </script>
    <script type="text/javascript">
    function showChart(id) {
        //$('div.chart').removeClass('visible');
        $('div.chart').hide();
        
        //$('#'+id).addClass('visible');
        $('#'+id).show();
        
        drawFunctions[id]();
    }
    </script>    
    
{% endblock %}

{% block content %}
    <h1>Slow Drivers</h1>
    <p>
        We really don't like to be stuck behind slow drivers. Especially when we're late
        for work or class. Or when we are rushing for food. Sometimes slow drivers make
        us genuinely upset. So, we decided to gather some data on the road as we drive
        around the town, to see who's the slowest driver. We hope to be able to avoid
        potential slow drivers by glancing at preceding vehicles' year, make, model,
        body type, color and so on and so forth.
    </p>
    <p>
        Doesn't look so useful? Don't worry. We gather data on a regular basis
        at our best effort. We will put more graphs when we have more spare time
        in the near future. Also, we are working to develop an intelligent
        algorithm to extract more useful information from the raw data. Lastly,
        we would like to express our sincere appreciation to Hailey Park for
        allowing us to gather even more data.
    </p>
    <div>
        By
        <a href="#slow-by-vehicle-year" onclick="showChart('chart-slow-by-vehicle-year')">Vehicle Year</a> |
        <a href="#slow-by-vehicle-make" onclick="showChart('chart-slow-by-vehicle-make')">Make</a> |
        <a href="#slow-by-vehicle-body-type" onclick="showChart('chart-slow-by-vehicle-body-type')">Body Type</a> |
        <a href="#slow-by-vehicle-color" onclick="showChart('chart-slow-by-vehicle-color')">Color</a> |
        <a href="#slow-by-driver-age" onclick="showChart('chart-slow-by-driver-age')">Driver Age</a>
    </div>
    <div>
        <div id="chart-slow-by-vehicle-year" class="chart visible"></div>
        <div id="chart-slow-by-vehicle-make" class="chart"></div>
        <div id="chart-slow-by-vehicle-body-type" class="chart"></div>
        <div id="chart-slow-by-vehicle-color" class="chart"></div>
        <div id="chart-slow-by-driver-age" class="chart"></div>
    </div>
    <div>Data was updated on {{ data_last_updated }} UTC</div>
{% endblock %}