{% extends 'base.html' %}
{% block title %} Labs :: Slow Drivers {% endblock %}
{% block metatags %}
    <meta property="og:title" content="Labs :: Cmabridge"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://labs.suminb.com/cmabridge"/>
    <meta property="og:image" content="http://labs.suminb.com/static/images/question_mark_128.png"/>
    <meta property="og:site_name" content="labs.suminb.com"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="og:description" content=""/>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.printf.js"></script>
    <script type="text/javascript" src="/static/jquery.base64.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/drivers/data.js"></script>
    <script type="text/javascript">
    window.onload = function() {
 
    };
    </script>
    <script type="text/javascript">

			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'chart-slow-by-make',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: 'Slow drivers by vehicle manufacturer'
					},
					tooltip: {
						formatter: function() {
							return $.sprintf('<b>%s</b> %.1f %%', this.point.name, this.percentage);
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								formatter: function() {
									return $.sprintf('<b>%s</b>', this.point.name);
								}
							}
						}
					},
				    series: [{
						type: 'pie',
						name: 'Browser share',
						data: byMake
					}]
				});
			});
            
			var chart2;
			$(document).ready(function() {
				chart2 = new Highcharts.Chart({
					chart: {
						renderTo: 'chart-slow-by-body-type',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: 'Slow drivers by body type'
					},
					tooltip: {
						formatter: function() {
							return $.sprintf('<b>%s</b> %.1f %%', this.point.name, this.percentage);
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								formatter: function() {
									return $.sprintf('<b>%s</b>', this.point.name);
								}
							}
						}
					},
				    series: [{
						type: 'pie',
						name: '',
						data: byBodyType
					}]
				});
			});

			var chart3;
			$(document).ready(function() {
				chart3 = new Highcharts.Chart({
					chart: {
						renderTo: 'chart-slow-by-color',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: 'Slow drivers by vehicle color'
					},
					tooltip: {
						formatter: function() {
							return $.sprintf('<b>%s</b> %.1f %%', this.point.name, this.percentage);
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								formatter: function() {
									return $.sprintf('<b>%s</b>', this.point.name);
								}
							}
						}
					},
				    series: [{
						type: 'pie',
						name: '',
						data: byColor
					}]
				});
			});
    </script>    
    
{% endblock %}

{% block content %}
    <h1>Slow Drivers</h1>
    <p>
        We really don't like to be stuck behind slow drivers. Especially when we're late
        for work or class. Or when we are rushing for food. Sometimes slow drivers make
        us genuinely upset. So, we decided to gather some data on the road as we drive
        around the town, to see who's the slowest driver. We hope to be able to avoid
        potential slow drivers by glancing at preceding vehicles' year, make, model,
        body type, color and so on and so fourth.
    </p>
    <div>
        <div id="chart-slow-by-make"></div>
        <div id="chart-slow-by-body-type"></div>
        <div id="chart-slow-by-color"></div>
    </div>
{% endblock %}