{% extends 'base.html' %}
{% block title %} Labs :: Sector 7 {% endblock %}
{% block javascript %}
	<script type="text/javascript" src="/static/jquery.js"></script>
{% endblock %}

{% block content %}
<h1>Welcome to Sector 7</h1>

<div style="float:left;width:256px;">
    <img src="/static/images/gas_mask_256.png" alt="Pink glass plask"/>
</div>

<div style="float:left;width:600px;">
    <p>Sector 7 is our advanced weapons system development division. You may face criminal charges if these weapons are abused. Laws may vary country to county and state to state. We advise you to consult your local attorney for details.</a>

    <p><a href="{{login_url}}">Proceed to restricted area</a></p>
</div>

{{ debug }}
{% endblock %}