{% extends 'base.html' %}
{% block title %} Labs :: Markdown {% endblock %}
{% block metatags %}
    <meta property="og:title" content="Labs :: Markdown"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://labs.suminb.com/markdown"/>
    <meta property="og:image" content="http://labs.suminb.com/static/images/markdown_128.png"/>
    <meta property="og:site_name" content="labs.suminb.com"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="og:description" content="A web-based Markdown renderer."/>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.printf.js"></script>
    <script type="text/javascript">
    window.onload = function() {
        var id = '{{ id }}';
        if(id != 'None') {
            $.post('/markdown/lookup', {'id': id}, function(json) {
                if(json.status == 'ok') {
                    $('#query').val(json.payload.raw);
                    displayResult(json.payload.rendered, generateURL(id));
                }
            }, 'json')
            .error(function() {
                displayErrorMessage('Could not find document.');
            });
        }
    };
    
    /**
     * Needs to be refactored
     */
    function encodeBase62(value) {
    console.log(value);
        digits = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        
        var stack = new Array();
        while(value > 0) {
            remainder = value % 62;
            value = value / 62;
            
            stack.push(digits[remainder])
        }
        
        return stack.reverse().join("");
    }
    
    function generateURL(id) {
        return 'http://labs.suminb.com/markdown/docs/' + id;
    }
    
    function displayResult(rendered, url) {
        $('#console').removeClass('hidden').removeClass('error');
        
        $('#console-result').html(rendered);
        
        $('#console-url').html($.sprintf('<a href="%s">%s</a>', url, url));
        $('meta[property=og:url]').attr('content', url);
    }
    
    function displayErrorMessage(message) {
        $('#console').removeClass('hidden').addClass('error');
        $('#console').html(message);
    }
    
    function lookup() {
        $.post('/markdown/lookup', {'q': $('#query').val()}, function(json) {
            if(json.status == 'ok') {
                displayResult(json.payload.result, generateURL(json.payload.id));
            }
            else {
                $('#console').addClass('error');
                $('#console').text(json.message);
            }
        }, 'json')
        .error(function() {
            displayErrorMessage('HTTP 500: Internal Server Error.');
        });

        return false;
    }
    </script>
{% endblock %}

{% block content %}
    <h1>Markdown</h1>
    
    <p><a href="http://daringfireball.net/projects/markdown">Markdown</a> is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML). Consult <a href="http://daringfireball.net/projects/markdown/syntax">this page</a> for Markdown syntax.</p>

    <form method="post" action="/markdown/lookup" onsubmit="return lookup()">
        <textarea id="query" name="q" style="width:99%; height:200px;"></textarea>
        <div class="align-right">
            <input type="submit" value="Convert"/>
        </div>
    </form>
    
    <div id="console" class="hidden">
        <p id="console-result" class="result" style="white-space: normal"></p>
        
        <h3>URL to this page</h3>
        <p id="console-url"></p>
    </div>
{% endblock %}