{% extends 'base.html' %}
{% block title %} Labs :: Rec Center {% endblock %}
{% block content %}

<h1>Rec Center</h1>

<img src="http://wildcat.arizona.edu/polopoly_fs/1.944646!/image/2208965523.jpg" alt="" style="float:right;width:256px;margin:0 0 1em 1em;"/>

<p>
Real world software development is certainly a non-trivial task, and it means a lot more than just coding to us. The code we produce must be efficient, re-usable, and maintainable. We have to deal with changes with respect to requirements and specifications from time to time. Final product qulaity assurance is also a big deal, because real world customers will never appreciate <em>prototype-quality</em> software. Oh, yeah, it must be kept as inexpensive as possible in terms of time and money.
</p>

<p>
One of the most important purposes of the labs is to train world-class software developers. We really enjoy to work with software developers who produce the best quality code in the world, yet it is <em>very</em> difficult to find one.
</p>

<p>
However, our training facility is undergoing a major construction and we have no clue when it is going to be done given the current pace.
<p>
{% endblock %}
