{% extends 'base.html' %}
{% block title %} Labs :: 한자-한글 변환기 {% endblock %}
{% block javascript %}
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript">
	function lookup() {
	    var console = $('#console');

	    $.post('/hanja/lookup', {'query': $('#query').val()}, function(json) {
	    	console.removeClass('hidden');
	        if(json.status == 'ok') {
	        	console.text(json.payload);
	        }
	        else {
	        	console.text(json.message);
	        }
	    }, "json");

	    return false;
	}
	</script>
{% endblock %}

{% block content %}
    <h1>한자-한글 변환기</h1>

	<form method="post" action="/hanja/lookup" onsubmit="return lookup()">
		<textarea id="query" name="query" style="width:99%; height:200px;"></textarea>
		<div class="align-right">
			<input type="submit" value="Convert"/>
		</div>
	</form>
	
	<div id="console" class="result hidden"></div>
{% endblock %}