{% extends 'base.html' %}
{% block title %} Labs :: 한자-한글 변환기 {% endblock %}
{% block javascript %}
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/jquery.printf.js"></script>
	<script type="text/javascript">
	window.onload = function() {
        if($('#query').val()) {
            lookup();
        }
	};
	
	function lookup() {
	    $.post('/hanja/lookup', {'q': $('#query').val()}, function(json) {
	    	$('#console').removeClass('hidden');
	        if(json.status == 'ok') {
	        	$('#console-result').text(json.payload);
	        	
	        	//var url = 'http://labs.suminb.com/hanja?q=' + escape($('#query').val());
	        	var url = window.location.href;
	        	$('#console-url').html($.sprintf('<a href="%s">%s</a>', url, url));
	        }
	        else {
	        	$('#console').text(json.message);
	        }
	    }, "json");

	    return false;
	}
	</script>
{% endblock %}

{% block content %}
    <h1>한자-한글 변환기</h1>

	<form method="post" action="/hanja/lookup" onsubmit="return lookup()">
		<textarea id="query" name="q" style="width:99%; height:200px;">{{ query }}</textarea>
		<div class="align-right">
			<input type="submit" value="Convert"/>
		</div>
	</form>
	
	<div id="console" class="result hidden" style="white-space: normal">
	    <h3>Result</h3>
	    <p id="console-result"></p>
	    
	    <h3>URL to this page</h3>
	    <p id="console-url"></p>
	</div>
	
	<div id="share">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d8edc142ba2266a"></script>
        <!-- AddThis Button END -->
    </div>
{% endblock %}